[submodule "2013-01-17-jsoxford"]
	path = 2013-01-17-jsoxford
	url = git@gist.github.com:4557586.git
[submodule "drafts"]
	path = drafts
	url = git@bitbucket.org:henrahmagix/presentation-drafts.git
[submodule "test"]
	path = test
	url = git@gist.github.com:cc40643d37794a223d0d.git
